/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

body {
    width: 80%;
    margin: auto;
    font-family: 'Roboto', serif;
    list-style: none;
}

img {
    width: 200px;
    height: 200px;
    margin-right: 20px;
}

hr {
    border: 0;
    border-top: 1px solid #eee;
    margin-top: 20px;
    margin-bottom: 20px;
}

li {
    margin: 5px;
}

button {
    margin-left: 10px;
    border: none;
    background: none;
    color: #2398BD;
}

.header {
    font-size: 45px;
    margin: 20px;
    color: #EA612F;
}

.employee-panel {
    display: flex;
}

.info-container {
    font-size: 14px;
    display: flex;
    flex-direction: column;
}

.employee-name {
    font-size: 25px;
}

.employee-title {
    font-size: 20px;
}

.vote-container {
    margin-top: 10px;
}
